{% block body %}

<div class="dcf-wrapper dcf-bleed dcf-pt-4 dcf-pb-7">
    <div class="dcf-grid">
        <div class="dcf-col-33%-start left-sidebar dcf-rounded dcf-p-6">
            <h5 class="dcf-mb-5">Select your template</h5>
            <nav class="nav nav-pills nav-justified dcf-mb-6">
                <button id="horizontalbutton" class="nav-link active unl-bg-scarlet" aria-current="page"
                    onclick="selecttab(verticalbutton,horizontalbutton,vertical,horizontal)">Horizontal</button>
                <button id="verticalbutton" class="nav-link unl-darker-gray"
                    onclick="selecttab(horizontalbutton, verticalbutton, horizontal,vertical)">Vertical</button>
            </nav>
            <div style="height: 60vh; overflow-y: auto;">
                <div id="horizontal">
                    <!-- <div id="hlogo01" class="dcf-p-3 dcf-mt-3 dcf-mb-3 dcf-relative" onclick="setLockup('hlogo01')">
                        <img style="width: 400px; height: auto;" src="img/org1.png" alt="">
                        <div class="dcf-absolute img-thumb img-thumb-active"></div>
                    </div>
                    <div id="hlogo02" class="dcf-p-3 dcf-mt-3 dcf-mb-3 dcf-relative" onclick="setLockup('hlogo02')">
                        <img style="width: 400px; height: auto;" src="img/org2.png" alt="">
                        <div class="dcf-absolute img-thumb"></div>
                    </div> -->
                    {% for item in lockups%}
                    {% if item.getStyle == "h" %}
                    <div id="{{item.getId}}" class="dcf-p-3 dcf-mt-3 dcf-mb-3 dcf-relative" onclick="setLockup('hlogo02')">
                        <img style="width: 400px; height: auto;" src="{{item.getImage}}" alt="">
                        <div class="dcf-absolute img-thumb">
                            </div>
                            </div>
                    {% endif %}
                    {% endfor %}
                    <!-- <div id="hlogo03" class="dcf-p-3 dcf-mt-3 dcf-mb-3 dcf-relative">
                        <img style="width: 400px; height: auto;" src="img/org3.png" alt=" ">
                        <div class="dcf-absolute img-thumb"></div>
                    </div>
                    <div id="hlogo04" class="dcf-p-3 dcf-mt-3 dcf-mb-3 dcf-relative">
                        <img style="width: 400px; height: auto;" src="img/org4.png" alt="">
                        <div class="dcf-absolute img-thumb"></div>
                    </div>
                    {% for i in 0..10 %}
                    <div id="hlogo{{i}}" class="dcf-p-3 dcf-mt-3 dcf-mb-3 dcf-relative">
                        <img style="width: 400px; height: auto;" src="img/org1.png" alt="">
                        <div class="dcf-absolute img-thumb"></div>
                    </div>
                    {% endfor %} -->
                </div>
                <div id="vertical" style="display: none;">
                    <!-- <div class="dcf-p-3 dcf-mt-3 dcf-mb-3 dcf-relative">
                        <img style="width: 400px; height: auto;" src="img/vorg1.png" alt="">
                        <div class="dcf-absolute img-thumb"></div>
                    </div>
                    <div class="dcf-p-3 dcf-mt-3 dcf-mb-3 dcf-relative">
                        <img style="width: 400px; height: auto;" src="img/vorg2.png" alt="">
                        <div class="dcf-absolute img-thumb"></div>
                    </div>
                    {% for i in 0..7 %}
                    <div id="vlogo{{i}}" class="dcf-p-3 dcf-mt-3 dcf-mb-3 dcf-relative">
                        <img style="width: 400px; height: auto;" src="img/org1.png" alt="">
                        <div class="dcf-absolute img-thumb"></div>
                    </div>
                    {% endfor %} -->
                    {% for item in lockups%}
                    {% if item.getStyle == "v" %}
                    <div id="{{item.getId}}" class="dcf-p-3 dcf-mt-3 dcf-mb-3 dcf-relative" onclick="setLockup('hlogo02')">
                        <img style="width: 400px; height: auto;" src="{{item.getImage}}" alt="">
                        <div class="dcf-absolute img-thumb">
                            </div>
                            </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="dcf-col-67%-end dcf-p-6">
            <h5 class="dcf-mb-6">Preview</h5>
            <div class="dcf-txt-center">
                <!-- <img src="img/org1.png" alt="" style="width: 400px; height: auto;"> -->
                <div>
                    <svg class="dcf-txt-center" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180 36"
                        width="720" height="144">
                        <path
                            d="M37.657895 35.81053c-.426316 0-.757895-.33158-.757895-.7579 0-.42631.331579-.75789.757895-.75789.402631 0 .757894.35526.757894.75789 0 .42632-.331578.7579-.757894.7579z"
                            fill="#fff" />
                        <path
                            d="M37.681579 34.10526c-.544737 0-.971053.42632-.971053.94737S37.136842 36 37.657895 36c.521052 0 .947368-.42632.947368-.94737s-.426316-.94737-.923684-.94737zm-.02368 1.70527c-.426316 0-.757895-.33158-.757895-.7579 0-.42631.331579-.75789.757895-.75789.402631 0 .757894.35526.757894.75789 0 .42632-.331578.7579-.757894.7579z"
                            fill="#d00000" />
                        <path
                            d="M37.27894812 34.48421122h.33157896c.14210526 0 .1894737 0 .26052632.04736842.09473684.04736842.14210526.14210526.14210526.26052632 0 .09473684-.0236842.16578948-.07105263.2368421-.0236842.04736843-.07105263.04736843-.14210526.09473685h-.02368422l.26052633.49736844h-.1894737l-.2368421-.47368422h-.14210527v.47368422h-.18947368v-1.13684212zm.28421054.49736843h.09473684c.09473684-.0236842.14210527-.07105264.14210527-.1894737 0-.07105262-.0236842-.11842105-.09473685-.14210526h-.23684211v.33157895h.09473686zM34.815789 0H20.842105v10.65789H23.210526v5.87369L13.073684.54474 12.742105 0H0v10.65789H2.368421v14.68422H0V36H15.157895V25.34211H12.789474v-5.87369l10.136842 15.98684.355263.54474H36V25.34211H33.631579V10.65789H36V0h-1.184211zm.710527 1.18421v9h-2.368421v15.63158h2.368421v9.71053H23.542105l-.213158-.33158-11.013158-17.36053v7.98158h2.368422v9.71053H.473684v-9.71053h2.368421V10.18421H.473684V.47368h11.984211l.213158.33158 11.013158 17.36053v-7.98158h-2.368422V.47368h14.210527v.71053z"
                            fill="#d00000" />
                        <path
                            d="M34.815789.47368h-13.5v9.71053h2.368422v7.98158L12.671053.80526l-.189474-.33158H.473684v9.71053h2.368421v15.63158H.473684v9.71053h14.210527v-9.71053h-2.368422v-7.98158l11.013158 17.36053.213158.33158h11.984211v-9.71053h-2.368421V10.18421h2.368421V.47368h-.710527zM13.973684 26.52632v8.28947H1.184211v-8.28947h2.368421V9.47368H1.184211V1.18421h10.894736l12.31579 19.42105V9.47368h-2.368421V1.18421h12.789473v8.28947h-2.368421v17.05264h2.368421v8.28947H23.921053l-12.31579-19.42105v11.13158h2.368421z"
                            fill="#fff" />
                        <path
                            d="M24.394737 20.60526L12.078947 1.18421H1.184211v8.28947h2.368421v17.05264H1.184211v8.28947h12.789473v-8.28947h-2.368421V15.39474l12.31579 19.42105h10.894736v-8.28947h-2.368421V9.47368h2.368421V1.18421H22.026316v8.28947h2.368421v11.13158z"
                            fill="#d00000" />
                        <!-- <text style="line-height:125%;" x="44" y="22.252501" font-size="12" font-family="Tungsten"
                        letter-spacing="0.5" word-spacing="0" writing-mode="lr" fill="#d00000">
                        <tspan x="44" y="22.252501">
                            <tspan id="svgtxt" x="44" y="22.252501" style="line-height:125%;text-align:start;"
                                font-weight="600" font-size="12">YOUR ORGANIZATION HERE</tspan>
                        </tspan>
                    </text> -->
                        <text style="line-height:125%;" x="44" y="16.252501" font-size="12" font-family="Tungsten"
                            letter-spacing="0.5" word-spacing="0" writing-mode="lr" fill="#d00000">
                            <tspan x="44" y="16.252501">
                                <tspan class="org_first_line" x="44" y="22.252501" style="line-height:125%;text-align:start;"
                                    font-weight="600" font-size="12">YOUR ORGANIZATION HERE</tspan>
                            </tspan>
                        </text>
                        {# <text style="line-height:125%;" x="44" y="27.252501" font-size="12"
                            font-family="Tungsten" letter-spacing="0.5" word-spacing="0" writing-mode="lr"
                            fill="#d00000">
                            <tspan x="44" y="27.252501">
                                <tspan id="svgtxt2" x="44" y="28.252501" style="line-height:125%;text-align:start; display: none;"
                                    font-weight="600" font-size="12">ORGANIZATION SECOND LINE</tspan>
                            </tspan>
                        </text> #}
                    </svg>
                </div>
                <!-- <svg viewBox="0 0 120.3158 36"><path fill="#d00000" d="M46.856,18.706l1.26,0l0,1.956c0,1.044-0.516,1.56-1.56,1.56l-0.636,0c-1.044,0-1.56-0.516-1.56-1.56l0-5.424c0-1.044,0.516-1.56,1.56-1.56l0.624,0c1.044,0,1.548,0.504,1.548,1.548l0,1.716l-1.26,0l0-1.644c0-0.336-0.156-0.492-0.48-0.492l-0.216,0c-0.336,0-0.492,0.156-0.492,0.492l0,5.304c0,0.336,0.156,0.492,0.492,0.492l0.24,0c0.324,0,0.48-0.156,0.48-0.492l0-1.896z M52.9322,20.662c0,1.044-0.516,1.56-1.56,1.56l-0.684,0c-1.044,0-1.56-0.516-1.56-1.56l0-5.424c0-1.044,0.516-1.56,1.56-1.56l0.684,0c1.044,0,1.56,0.516,1.56,1.56l0,5.424z M51.6482,15.298c0-0.336-0.156-0.492-0.48-0.492l-0.264,0c-0.336,0-0.492,0.156-0.492,0.492l0,5.304c0,0.336,0.156,0.492,0.492,0.492l0.264,0c0.324,0,0.48-0.156,0.48-0.492l0-5.304z M53.9924,13.75l1.284,0l0,7.236l1.416,0l0,1.164l-2.7,0l0-8.4z M57.5966,13.75l1.284,0l0,7.236l1.416,0l0,1.164l-2.7,0l0-8.4z M61.2008,13.75l2.856,0l0,1.164l-1.572,0l0,2.376l1.512,0l0,1.164l-1.512,0l0,2.532l1.596,0l0,1.164l-2.88,0l0-8.4z M67.613,18.67l-0.672,0l0-1.104l1.92,0l0,3.096c0,1.044-0.516,1.56-1.56,1.56l-0.684,0c-1.044,0-1.56-0.516-1.56-1.56l0-5.424c0-1.044,0.516-1.56,1.56-1.56l0.672,0c1.044,0,1.548,0.516,1.548,1.548l0,1.356l-1.26,0l0-1.284c0-0.336-0.156-0.492-0.48-0.492l-0.264,0c-0.336,0-0.492,0.156-0.492,0.492l0,5.304c0,0.336,0.156,0.492,0.492,0.492l0.288,0c0.336,0,0.492-0.156,0.492-0.492l0-1.932z M69.9092,13.75l2.856,0l0,1.164l-1.572,0l0,2.376l1.512,0l0,1.164l-1.512,0l0,2.532l1.596,0l0,1.164l-2.88,0l0-8.4z M79.4096,20.662c0,1.044-0.516,1.56-1.56,1.56l-0.684,0c-1.044,0-1.56-0.516-1.56-1.56l0-5.424c0-1.044,0.516-1.56,1.56-1.56l0.684,0c1.044,0,1.56,0.516,1.56,1.56l0,5.424z M78.1256,15.298c0-0.336-0.156-0.492-0.48-0.492l-0.264,0c-0.336,0-0.492,0.156-0.492,0.492l0,5.304c0,0.336,0.156,0.492,0.492,0.492l0.264,0c0.324,0,0.48-0.156,0.48-0.492l0-5.304z M80.4698,13.75l2.796,0l0,1.164l-1.512,0l0,2.424l1.452,0l0,1.164l-1.452,0l0,3.648l-1.284,0l0-8.4z M88.9862,17.83c0.492,0.168,0.732,0.528,0.732,1.212l0,1.548c0,1.044-0.516,1.56-1.56,1.56l-2.1,0l0-8.4l2.076,0c1.044,0,1.56,0.516,1.56,1.56l0,1.236c0,0.744-0.252,1.116-0.708,1.284z M88.4222,15.358c0-0.324-0.156-0.48-0.48-0.48l-0.612,0l0,2.448l0.564,0c0.36,0,0.528-0.18,0.528-0.528l0-1.44z M87.3302,18.418l0,2.604l0.636,0c0.324,0,0.48-0.156,0.48-0.48l0-1.596c0-0.36-0.168-0.528-0.528-0.528l-0.588,0z M94.4864,13.75l0,6.912c0,1.044-0.516,1.56-1.56,1.56l-0.624,0c-1.044,0-1.56-0.516-1.56-1.56l0-6.912l1.284,0l0,6.852c0,0.336,0.156,0.492,0.492,0.492l0.204,0c0.324,0,0.48-0.156,0.48-0.492l0-6.852l1.284,0z M98.4506,17.842c0.564,0.408,0.744,0.768,0.744,1.452l0,1.368c0,1.044-0.516,1.56-1.56,1.56l-0.564,0c-1.044,0-1.548-0.516-1.548-1.548l0-1.776l1.248,0l0,1.728c0,0.324,0.156,0.48,0.492,0.48l0.168,0c0.336,0,0.492-0.156,0.492-0.48l0-1.152c0-0.348-0.12-0.504-0.36-0.684l-1.296-0.948c-0.576-0.408-0.744-0.804-0.744-1.452l0-1.152c0-1.044,0.516-1.56,1.56-1.56l0.54,0c1.032,0,1.548,0.516,1.548,1.548l0,1.524l-1.26,0l0-1.476c0-0.324-0.156-0.48-0.48-0.48l-0.156,0c-0.324,0-0.48,0.156-0.48,0.48l0,0.936c0,0.348,0.12,0.516,0.36,0.684z M101.5028,13.75l0,8.4l-1.284,0l0-8.4l1.284,0z M106.439,22.15l-1.392,0l-1.308-5.652l0.012,1.476l0,4.176l-1.152,0l0-8.4l1.5,0l1.2,5.184l-0.012-1.404l0-3.78l1.152,0l0,8.4z M107.5232,13.75l2.856,0l0,1.164l-1.572,0l0,2.376l1.512,0l0,1.164l-1.512,0l0,2.532l1.596,0l0,1.164l-2.88,0l0-8.4z M114.2954,17.842c0.564,0.408,0.744,0.768,0.744,1.452l0,1.368c0,1.044-0.516,1.56-1.56,1.56l-0.564,0c-1.044,0-1.548-0.516-1.548-1.548l0-1.776l1.248,0l0,1.728c0,0.324,0.156,0.48,0.492,0.48l0.168,0c0.336,0,0.492-0.156,0.492-0.48l0-1.152c0-0.348-0.12-0.504-0.36-0.684l-1.296-0.948c-0.576-0.408-0.744-0.804-0.744-1.452l0-1.152c0-1.044,0.516-1.56,1.56-1.56l0.54,0c1.032,0,1.548,0.516,1.548,1.548l0,1.524l-1.26,0l0-1.476c0-0.324-0.156-0.48-0.48-0.48l-0.156,0c-0.324,0-0.48,0.156-0.48,0.48l0,0.936c0,0.348,0.12,0.516,0.36,0.684z M118.9436,17.842c0.564,0.408,0.744,0.768,0.744,1.452l0,1.368c0,1.044-0.516,1.56-1.56,1.56l-0.564,0c-1.044,0-1.548-0.516-1.548-1.548l0-1.776l1.248,0l0,1.728c0,0.324,0.156,0.48,0.492,0.48l0.168,0c0.336,0,0.492-0.156,0.492-0.48l0-1.152c0-0.348-0.12-0.504-0.36-0.684l-1.296-0.948c-0.576-0.408-0.744-0.804-0.744-1.452l0-1.152c0-1.044,0.516-1.56,1.56-1.56l0.54,0c1.032,0,1.548,0.516,1.548,1.548l0,1.524l-1.26,0l0-1.476c0-0.324-0.156-0.48-0.48-0.48l-0.156,0c-0.324,0-0.48,0.156-0.48,0.48l0,0.936c0,0.348,0.12,0.516,0.36,0.684z"/><path fill="#d00000" d="M37.681579 34.10526c-.544737 0-.971053.42632-.971053.94737S37.136842 36 37.657895 36c.521052 0 .947368-.42632.947368-.94737s-.426316-.94737-.923684-.94737zm-.02368 1.70527c-.426316 0-.757895-.33158-.757895-.7579 0-.42631.331579-.75789.757895-.75789.402631 0 .757894.35526.757894.75789 0 .42632-.331578.7579-.757894.7579z"/><path fill="#d00000" d="M24.394737 20.60526L12.078947 1.18421H1.184211v8.28947h2.368421v17.05264H1.184211v8.28947h12.789473v-8.28947h-2.368421V15.39474l12.31579 19.42105h10.894736v-8.28947h-2.368421V9.47368h2.368421V1.18421H22.026316v8.28947h2.368421v11.13158z"/><path fill="#d00000" d="M37.27894812 34.48421122h.33157896c.14210526 0 .1894737 0 .26052632.04736842.09473684.04736842.14210526.14210526.14210526.26052632 0 .09473684-.0236842.16578948-.07105263.2368421-.0236842.04736843-.07105263.04736843-.14210526.09473685h-.02368422l.26052633.49736844h-.1894737l-.2368421-.47368422h-.14210527v.47368422h-.18947368v-1.13684212zm.28421054.49736843h.09473684c.09473684-.0236842.14210527-.07105264.14210527-.1894737 0-.07105262-.0236842-.11842105-.09473685-.14210526h-.23684211v.33157895h.09473686zM34.815789 0H20.842105v10.65789H23.210526v5.87369L13.073684.54474 12.742105 0H0v10.65789H2.368421v14.68422H0V36H15.157895V25.34211H12.789474v-5.87369l10.136842 15.98684.355263.54474H36V25.34211H33.631579V10.65789H36V0h-1.184211zm.710527 1.18421v9h-2.368421v15.63158h2.368421v9.71053H23.542105l-.213158-.33158-11.013158-17.36053v7.98158h2.368422v9.71053H.473684v-9.71053h2.368421V10.18421H.473684V.47368h11.984211l.213158.33158 11.013158 17.36053v-7.98158h-2.368422V.47368h14.210527v.71053z"/></svg>            </div> -->
            </div>
            <p class="dcf-mt-5 dcf-txt-3xs"> <i class="dxf-txt-left">Please note: The above generated image is just for
                    preview only.</i></p>
                    <form method="POST" action="/">
                        <!--  name stores the post form data -->
                        <input type="hidden" id="lockupTemplate" name="lockuptemplate" value="1">
            <div class="dcf-mt-6">
                <div class="dcf-mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Organization Name</label>
                    <input type="text" class="dcf-input-text dcf-w-100%" id="inputtxt" name="inputtxt"
                        value="Your Organization Here" placeholder="Organization">
                    <p style="font-size: .8em;font-style: italic;">Maximum 31 characters.</p>
                </div>
                <div id="hlogo02form" class="dcf-mb-3" style="display: none;">
                    <label for="exampleFormControlInput2" class="form-label">Organization Name Second Line</label>
                    <input type="text" class="dcf-input-text dcf-w-100%" id="inputtxt2" name="inputtxt2"
                        value="Organization Second Line" placeholder="SecondLineOrganization">
                </div>
                <div class="dcf-mb-3">
                    <select id="approver" name="approver" class="dcf-input-select dcf-b-1 dcf-b-solid dcf-rounded">
                        <option value="">Select your Communicator Contact</option>
                        <option value="4">Michael Bergland-Riese (EXT)</option>
                        <option value="5">Kerry McCullough-Vondrak (ARCH)</option>
                        <option value="6">Terri Pieper (CAS)</option>
                        <option value="7">Sheri Irwin Gish (CBA)</option>
                        <option value="9">JS Engebretson (ENG)</option>
                        <option value="11">Amber Wolff (LAW)</option>
                        <option value="12">Kathe Andersen (FPA)</option>
                        <option value="14">Shari Rosso (UH)</option>
                        <option value="24">Lonna Henrichs (ATH)</option>
                        <option value="326">Lauren Gayer (Student Affairs)</option>
                        <option value="340">Mike Jackson (RSO)</option>
                        <option value="351">Haley Apel (CEHS)</option>
                        <option value="425">Joan Barnes (Libraries)</option>
                        <option value="476">Ashley Washburn (ORED)</option>
                        <option value="557">Chris Dulak (CREC)</option>
                        <option value="935">Haley Hamel (JMC)</option>
                        <option value="1285">Christina Gardner (B&amp;F)</option>
                        <option value="1294">Julie Kundhi (Academic Affairs)</option>
                        <option value="1507">Jerri Harner (ODI)</option>
                        <option value="1517">Jeff Sheldon (ALUM)</option>
                        <option value="1688">Cara Pesek (CASNR &amp; IANR)</option>
                        <option value="">I'm not sure / not listed / N/A</option>
                    </select>
                </div>
                <button class="dcf-btn dcf-btn-primary">Submit</button>
            </div>
        </form>
        </div>
    </div>
</div>
<script>
    let svgtext = document.getElementById('svgtxt');
    let inputtxt = document.getElementById("inputtxt");
    console.log(svgtext, inputtxt);
    let svgtext2 = document.getElementById('svgtxt2');
    let inputtxt2 = document.getElementById("inputtxt2");

    inputtxt.oninput = showInput;
    inputtxt2.oninput = showInput;
    function showInput() {
        console.log(inputtxt.value);
        // console.log(inputtxt.value)
        // let onputlength = inputtxt.value;
        // onputlength = onputlength.length * 2;
        // onputlength = onputlength + 50;
        // let viewboxString = `0 0 ${onputlength} 36`;
        // svgtext2.innerHTML = inputtxt2.value.toUpperCase();
        svgtext.innerHTML = inputtxt.value.toUpperCase();
        svgtext2.innerHTML = inputtxt2.value.toUpperCase();
    }
</script>

<!-- tabs script -->
<script>
    function selecttab(currentbtn, selectedbtn, current, selected) {
        current.style.display = "none";
        selected.style.display = "block";

        currentbtn.classList.remove("active");
        currentbtn.classList.remove("unl-bg-scarlet");
        currentbtn.classList.add("unl-darker-gray");
        selectedbtn.classList.add("unl-bg-scarlet");
        selectedbtn.classList.add("active");
        selectedbtn.classList.remove("unl-darker-gray");
    }
</script>

<!-- lockups selector script -->
<script>
    function setLockup(newLockup) {
        console.log(newLockup);
        let svgtext = document.getElementById('svgtxt');
        let inputtxt = document.getElementById("inputtxt");
        let svgtext2 = document.getElementById('svgtxt2');
        let inputtxt2 = document.getElementById("inputtxt2");
        let hlogo2form = document.getElementById("hlogo02form");

        newLockupSelector = document.getElementById(newLockup);
        let allLockups = document.getElementsByClassName("img-thumb");
        for (let i = 0; i < allLockups.length; i++) {
            let tempElement = allLockups[i];
            tempElement.classList.remove("img-thumb-active");
        }
        tempElement = newLockupSelector.getElementsByClassName("img-thumb");
        tempElement[0].classList.add("img-thumb-active");
        if (newLockup == 'hlogo01') {
            svgtext2.style.display = "none";
            svgtext.style.display = "block";
            svgtext.setAttribute('y', '22.252501');
            hlogo2form.style.display = "none";
        } else if (newLockup == 'hlogo02') {
            console.log('block2')
            svgtext2.style.display = "block";
            svgtext.setAttribute('y', '17.252501');
            hlogo2form.style.display = "block";
        }
    }
</script>
{% endblock %}