{% block body %}
<div class="dcf-wrapper dcf-bleed dcf-pb-7 unl-bg-cream">
<p>Welcome {{ user }} </p>
    <h3>Manage your lockups</h3>
    <table class="dcf-table dcf-table-bordered dcf-table-responsive dcf-table-striped dcf-w-100%">
        <tr>
            <th>
                Title
            </th>
            <th>
                Preview
            </th>
            <th>
                Approver
            </th>
            <th>
                Status
            </th>
            <th>
                Actions
            </th>
        </tr>
        {% for item in lockups_array%}
        <tr>
            <td>
                {{item.getId}}
            </td>
            <td>
                {{item.getPreview | raw}}
            </td>
            <td>
                {{item.getApprover}}
            </td>
            <td>
                <p><strong>Communicator</strong>: Awaiting Approval<br></p>
                <strong>Creative</strong>: Awaiting Approval
            </td>
            <td>
                <a href="/lockups/edit/{{item.getId}}"><button class="dcf-btn dcf-btn-secondary">View</button></a>
                <form action="/lockups/delete/" method="POST" style="display: inline;">
                    <button type="submit" class="dcf-btn dcf-btn-primary">Delete</button>
                    <input type="hidden" name="id" value="{{item.getId}}">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}